//
   Created by matthewxfz on 4/14/17.
-var duebook = 'Na';
-var rentbook = 'Na';
-var capacity ='Na';
-var book1 = {title:'Na', href:''}
-var book2 = {title:'Na', href:''}

ul.nav.navbar-nav.side-nav
    li.active(id="search_btn")
        a(href='index')
            i.fa.fa-dashboard.fa-fw
            |  Happy Search
    li#add_btn
        a(href='javascript:;')
            i.fa.fa-book.fa-fw
            b  Add Book
    li
        a(href='javascript:;')
            i.fa.fa-book.fa-fw
            b  Find Due Book
    li
        a(href='javascript:;')
            i.fa.fa-book.fa-fw
            b  Find Rent Book


script.

