//
   Created by matthewxfz on 4/14/17.
-var duebook = 'Na';
-var rentbook = 'Na';
-var capacity ='Na';
-var book1 = {title:'Na', href:''}
-var book2 = {title:'Na', href:''}

ul.nav.navbar-nav.side-nav
    li.active(id="search_btn")
        a(href='/admin/dashboard')
            i.fa.fa-dashboard.fa-fw
            |  Search Books
    li#add_btn
        a(href='javascript:;')
            i.fa.fa-book.fa-fw
            b  Add Book
    li
        a(href='/admin/searchOrdersPage')
            i.fa.fa-book.fa-fw
            b  Search Orders
    li
        a(href='/admin/searchStudentsPage')
            i.fa.fa-book.fa-fw
            b  Search Students
    li
        a(href='/admin/searchTeachersPage')
            i.fa.fa-book.fa-fw
            b  Search Teachers
    li
        a(href='/admin/searchClasses')
            i.fa.fa-book.fa-fw
            b  Search Classes


script.

