.panel-heading .form-control {
  margin: 3px 0;
}
.panel-heading .btn {
  margin: 3px 0;
}
.red {
  color: red;
}
.nums {
  font-size: 20px;
  margin-bottom: 10px;
}
.main-sidebar {
  display: none !important;
}
.content-wrapper {
  margin-left: 0 !important;
}
.my-alert {
  position: absolute;
  z-index: 2000;
  min-width: 300px;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
