extends layout

block page-content
    .row
        .col-lg-12
            h1.page-header  Search Books
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    |
                    a(href='/dashboard') Dashboard
                li.active
                    i.fa.fa-edit
                    |  Search Books
    .row
        .col-lg-6.col-lg-offset-3
            .form-group.input-group
                input#search-input.form-control(type = 'text', placeholder='Enter title, author, or ISBN')
                span.input-group-btn
                    button#search-btn.btn.btn-default(type='button')
                        i.fa.fa-search
    .row
        #msg-brand.alert.alert-danger
            strong oops
            #msg
    .row
        #book-list.list-group
            a.list-group-item(href='#')
                h4.list-group-item-heading Introduction to algotihm (3rd Edition)
                p.list-group-item-text
                    i By Matthew Xiong, MIT Press, Gerenated ID,
                    p
                        Strong Not Available

    .row
        nav(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                    a#pre-page.page-link(href='#') Previous
                li.page-item
                    a#current-page.page-link(href='#') 1
                li.page-item
                    a#next-page.page-link(href='#') Next


    script.
        var page = 1;
        var keyword = "";
        var pagesize = 10;
        var totalPage = 1;


        $('#msg-brand').hide();
        //searching mechanism
        var timer; // external so it's value is held over all instances of the timer function


        $('#search-input').on('keyup', function () {
            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(function () {
                keyword = $('#search-input').val();
                search_update(keyword);
            }, 500);
        });

        //searching button
        $('#search-btn').click(function () {
            keyword = $('#search-input').val();
            search_update(keyword);
        });

        //last button
        $('#pre-page').click(function () {
            if(page > 2 ){
                search_update(keyword, page-1, pagesize)
            }
        });
        //next button
        $('#next-page').click(function () {
                search_update(keyword, page + 1, pagesize)

        });
        //select the page

        function search_update(keyword) {
            var books = "";
            if (keyword != "") {
                $.post(document.location.origin + '/searchBooks', {
                    keyword: keyword,
                    pagenumber: page,
                    pagesize: pagesize
                }, function (req, res, data) {
                    //console.log(data.responseJSON);
                    books = data.responseJSON.content ? data.responseJSON.content : "";
                    console.log(books);
                    if (data.status == 'false') {
                        showError('Inner server errors!');
                    } else {
                        updateList(books);
                        page = data.responseJSON.page ? data.responseJSON.page : page;
                        newTp = data.responseJSON.totalPage ? data.responseJSON.totalPage : totalPage;
                        updateSelector(page);
                    }
                });
            }
        }

        function updateList(books) {
            $('#book-list').empty();
            for (i = 0; i < books.length; i++) {
                book = books[i];
                addRow(book);
            }
        }

        function addRow(book){
            $('#book-list').append("<a class= \"list-group-item\" href = \"#\" >"
                + "<h4 class= \"list-group-item-heading\" > "+book.title+"</h4 >"
                + "<p class= \"list-group-item-text\" > <i> By "+book.author+", "+book.publisher+", "+book.generatedId+"</i> <p>"
                + "<Strong>"+book.status+"</Strong> </p> </p> </a> ");
        }

        function updateSelector(page) {
            // $('#search-selector').empty();
            $('#current-page').text(page);
        }

