extends layout

block page-content
    .row
        .col-lg-12
            h1.page-header  Search Books
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    |
                    a(href='/admin/dashboard') Dashboard
                li.active
                    i.fa.fa-edit
                    |  Search Books
    .row
        .col-lg-6.col-lg-offset-3
            .form-group.input-group
                input#search-input.form-control(type = 'text', placeholder='Enter title, author, or ISBN')
                span.input-group-btn
                    button#search-btn.btn.btn-default(type='button')
                        i.fa.fa-search
            .form-group
                label
                |
                label.radio-inline
                    input#optionsRadiosInline1(type='radio', name='optionsRadiosInline', value='all', checked='')
                    | All Book
                |
                label.radio-inline
                    input#optionsRadiosInline2(type='radio', name='optionsRadiosInline', value='due')
                    | Due Book
                |
                label.radio-inline
                    input#optionsRadiosInline3(type='radio', name='optionsRadiosInline', value='rent')
                    | Rent Book
    .row
        #msg-brand.alert.alert-danger
            strong oops
            #msg
    .row
        h5#totalNumber Total Result:
        #book-list.list-group
            a.list-group-item(href='#')
                h4.list-group-item-heading Get your Search Result
                p.list-group-item-text
                    i Simply input your result
                    p
                        Strong



    .row
        nav(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                    a#pre-page.page-link(href='#') Previous
                li.page-item
                    a#current-page.page-link(href='#') 1
                li.page-item
                    a#next-page.page-link(href='#') Next


    script.
        var page = 1;
        var keyword = "";
        var pagesize = 10;
        var totalPage = 1;
        var totalNumber = 8;
        findAllBooks();


        $('#msg-brand').hide();
        //searching mechanism
        var timer; // external so it's value is held over all instances of the timer function


        $('#search-input').on('keyup', function () {
            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(function () {
                keyword = $('#search-input').val();
                search_update(keyword);
            }, 500);
        });

        //searching button
        $('#search-btn').click(function () {
            keyword = $('#search-input').val();
            search_update(keyword);
        });

        //last button
        $('#pre-page').click(function () {
            if(page > 1 ){
                page = page-1;
                search_update(keyword, page, pagesize)
            }
        });
        //next button
        $('#next-page').click(function () {
            page = page+1;
                search_update(keyword, page , pagesize)

        });
        //select the page

        function search_update(keyword) {
            var books = ""
                $.post(document.location.origin + '/admin/search/books', {
                    keyword: keyword,
                    operation:$("input:radio[name=optionsRadiosInline]:checked").val(),
                    pagenumber: page,
                    pagesize: pagesize
                }, function (req, res, data) {
                    //console.log(data.responseJSON);
                    data = data.responseJSON
                    if (data.status == 'true') {
                        books = data.content ? data.content : "";
                        updateList(books);
                        if (keyword == "") {
                            $('#totalNumber').text("["+$("input:radio[name=optionsRadiosInline]:checked").val()+" Books] " + data.totalNumber + " Books")
                        } else {
                            $('#totalNumber').text("[\"" + keyword + "\"] " + data.totalNumber + " Books")
                        }
                        newTp = data.totalPage ? data.totalPage : totalPage;
                        updateSelector(page);
                        hideError();
                    }
                    else{
                        showError('Inner server errors!');
                    }
                });
        }

        function updateList(books) {
            $('#book-list').empty();
            for (i = 0; i < books.length; i++) {
                book = books[i];
                addRow(book);
            }
        }

        function addRow(book){
            $('#book-list').append("<a class= \"list-group-item\" href=\"/admin/showBooks\?bookId="+book.bookId+"\">"+"["+book.bookId+"]"+book.title+"<br>"
                + "<h4 class= \"list-group-item-heading\" > "+book.title+"</h4 >"
                + "<p class= \"list-group-item-text\" > <i> By "+book.author+", "+book.publisher+", ["+book.generatedId+"]</i> <p>"
                + "<Strong>"+book.status+"</Strong> </p> </p> </a> ");
        }

        function updateSelector(page) {
            // $('#search-selector').empty();
            $('#current-page').text(page);
        }

        function findAllBooks(){
            search_update("");
        }

        function showError(msg) {
            $('#msg').text(msg);
            $('#msg-brand').show();
        }
        function hideError(msg) {
            $('#msg').text(msg);
            $('#msg-brand').hide();
        }
