extends layout

block page-content
    .row
        .col-lg-12
            h1.page-header Search Classes
            ol.breadcrumb
                li
                    i.fa.fa-dashboard
                    |
                    a(href='/admin/dashboard') Dashboard
                li.active
                    i.fa.fa-edit
                    |  Search Classes
    .row
        .col-lg-6.col-lg-offset-3
            .form-group.input-group
                input#search-input.form-control(type = 'text', placeholder='Enter Student id')
                span.input-group-btn
                    button#search-btn.btn.btn-default(type='button')
                        i.fa.fa-search
    .row
        #msg-brand.alert.alert-danger
            strong oops
            #msg
    .row
        h5#totalNumber Total Result:
        #book-list.list-group
            a.list-group-item(href='#')
                h4.list-group-item-heading Get your Search Result
                p.list-group-item-text
                    i Simply input your result
                    p
                        Strong

    .row
        nav(aria-label='Page navigation example')
            ul.pagination
                li.page-item
                    a#pre-page.page-link(href='#') Previous
                li.page-item
                    a#current-page.page-link(href='#') 1
                li.page-item
                    a#next-page.page-link(href='#') Next


    script.
        var page = 1;
        var keyword = "";
        var pagesize = 10;
        var totalPage = 1;
        $('#msg-brand').hide();
        search_update("");//find all books

        //searching mechanism
        var timer; // external so it's value is held over all instances of the timer function


        $('#search-input').on('keyup', function () {
            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(function () {
                keyword = $('#search-input').val();
                search_update(keyword);
            }, 500);
        });

        //searching button
        $('#search-btn').click(function () {
            keyword = $('#search-input').val();
            search_update(keyword);
        });

        //last button
        $('#pre-page').click(function () {
            if(page >= 2 ){
                page  = page-1;
                search_update(keyword, page, pagesize)
            }
        });
        //next button
        $('#next-page').click(function () {
            page  = page+1;
            search_update(keyword, page, pagesize)

        });
        //select the page

        function search_update(keyword) {
            var books = "";
            keyword = keyword == ""?" ":keyword;
            $.post(document.location.origin + '/admin/searchOrders', {
                keyword: keyword,
                operation: $("input:radio[name=optionsRadiosInline]:checked").val(),
                pagenumber: page,
                pagesize: pagesize
            }, function (req, res, data) {
                //console.log(data.responseJSON);
                data = data.responseJSON
                if (data.status == 'true') {
                    books = data.content ? data.content : "";
                    updateList(books);
                    if (keyword == " ") {
                        $('#totalNumber').text("[All Orders] " + data.totalNumber + " Orders")
                    } else {
                        $('#totalNumber').text("[\"" + keyword + "\"] " + data.totalNumber + " Orders")
                    }
                    page = data.page ? data.rpage : page;
                    newTp = data.totalPage ? data.totalPage : totalPage;
                    updateSelector(page);
                }
                else {
                    showError('Inner server errors!');
                }
            });
        }

        function updateList(books) {
            $('#book-list').empty();
            for (i = 0; i < books.length; i++) {
                book = books[i];
                addRow(book);
            }
        }

        function addRow(classes){
            orderHead = "["+order.orderId+"] ,Check in on:"+order.checkInDate+", due on:"+order.dueDate
            bookInfo = "["+order.booGeneratedId+"], "+order.bookTitle+"by:"+order.bookAuthor+", pressed by:"+order.bookPublisher
            studentInfo = "["+order.studentGeneratedId+"], "+order.studentFirstName+", "+order.studentLastName
            
            $('#book-list').append("<a class= \"list-group-item\">"+orderHead+"\" >"
                + "<p class= \"list-group-item-heading\" > "+bookInfo+"</h4 >"
                + "<p class= \"list-group-item-text\" > studentInfo <p>"
                + "<Strong>"+order.status+"</Strong> </p> </p> </a> ");
        }

        function updateSelector(page) {
            // $('#search-selector').empty();
            $('#current-page').text(page);
        }
