//
   Created by matthewxfz on 4/12/17.

doctype html;
html
    head
        title = 'hello world'
        link(rel='stylesheet' ,href='/stylesheets/c6/style.css')
    body
        block content
        block footer